@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scroll::-webkit-scrollbar-track {
  @apply bg-white dark:bg-gray-700;
}
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  @apply bg-slate-200 dark:bg-slate-900;
}

.ag-root-wrapper {
  @apply rounded-lg shadow-sm bg-white border-gray-200;
  --ag-header-background-color: null;
  --ag-background-color: null;
  --ag-odd-row-background-color: null;
}

.ag-row-hover {
  @apply bg-blue-500/[.15] !important;
}

.ag-row-selected {
  @apply bg-blue-500/[.15] !important;
}
