@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scroll::-webkit-scrollbar-track {
  @apply bg-primary dark:bg-primaryDark;
}
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  @apply bg-secondary dark:bg-secondaryDark;
}

.ag-root-wrapper {
  @apply rounded-lg shadow-sm border-secondary dark:border-secondaryDark !important;
  --ag-header-background-color: null;
  --ag-background-color: null;
  --ag-odd-row-background-color: null;
}

.ag-header {
  @apply border-secondary dark:border-secondaryDark !important;
}

.ag-row {
  @apply text-primaryDark dark:text-primary border-secondary dark:border-secondaryDark !important;
}

.ag-row-hover {
  @apply dark:bg-secondaryDark !important;
}

.ag-row-selected {
  @apply dark:bg-primaryDark !important;
}
